[Unit]
Description=Wordle Discord Bot
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/disc_wordle_bot
ExecStart=/usr/bin/python3 bot.py
Restart=always
RestartSec=10
EnvironmentFile=/home/ubuntu/disc_wordle_bot/.env

[Install]
WantedBy=multi-user.target
